.venv/
*.egg-info/
__pycache__/
.pytest_cache/

# Local Terraform dirs
.terraform/

# Local Terraform state
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local plan files
*.tfplan

# Keep lock file committed
!.terraform.lock.hcl